################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
**/obj/*
**/bin/*


/DSLKIT/.vs
*.binlog
/DSLKIT/packages
/DSLKIT/CodeGraphData
