@inherits LayoutComponentBase
<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="main-shell">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
