.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-shell {
    flex: 1;
    min-width: 0;
}

.sidebar {
    background-color: #111827;
    border-right: 1px solid #1f2937;
    box-shadow: inset -1px 0 0 #1f2937;
}

.content {
    margin: 0 auto;
    max-width: 1600px;
    padding-top: 1.25rem;
}

@media (max-width: 640.98px) {
    .content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
