@page "/sql-formatter"

<PageTitle>SQL Formatter</PageTitle>

<div class="dsl-grammar-page dsl-sql-formatter-page">
    <div class="dsl-sql-formatter-panel">
        <SqlFormattingTab />
    </div>
</div>
